/* font:Avenir Next */

@charset "utf-8";

:root {
    --accent_color: #00A6D6;
  }


html, body{
    margin: 0;
    height: 100%;
    font-family: sans-serif;
    background-color: #f2f2f2e6;
    overflow: hidden;
    overflow: hidden;
    font-size: 15px;
}

.parent_container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.25fr 0.5fr 0.1fr 0.3fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }

.header_container { grid-area: 1 / 1 / 2 / 2; 
    background-color: #090235;}
  
.wall_container { grid-area: 2 / 1 / 3 / 2; 
                  background-color: #090235;}

.instructions_container { grid-area: 3 / 1 / 4 / 2; 
                    background-color: #090235;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    color: white;
                    font-size: 1.2 em; /* Adjust the size as needed */
                    font-family: 'Avenir Next', sans-serif; /* Change the font as needed */
                    text-align: center;}

.instructions_container span {
  opacity: 0.6 /* Set the opacity of the text */
}

.topics_container { grid-area: 4 / 1 / 5 / 2; 
background-color: #090235;}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  color: white;
}

.book{fill: white};


svg defs {
  filter: url(#glow);
}

.magnifying_glass {
  rx: 20;
  /* ry: 30; */
  fill: transparent;
  stroke: white;
  stroke-width: 1;
}

.magnifying_text {
  fill: white;
  text-anchor: middle; /*Center the text horizontally*/
}
