/* font:Avenir Next */

@charset "utf-8";

:root {
    --accent_color: #00A6D6;
  }


html, body{
    margin: 0;
    height: 100%;
    font-family: "Roboto", sans-serif;
    background-color: #f2f2f2e6;
    overflow: hidden;
    overflow: hidden;
    font-size: 15px;
}

.flex{
    display: flex;
}

.xx-large {
  font-size: xx-large;
}

.parent_container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.25fr 0.5fr 0.1fr 0.3fr;
  }

.header_container { grid-area: 1 / 1 / 2 / 2; 
    background-color: #090235;}
  
.wall_container { grid-area: 2 / 1 / 3 / 2; 
                  background-color: #090235;}

.instructions_container { grid-area: 3 / 1 / 4 / 2; 
                    background-color: #090235;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    color: white;
                    font-size: 1.2 em; /* Adjust the size as needed */
                    text-align: center;}

.instructions_container span {
  opacity: 1 /* Set the opacity of the text */
}

.topics_container { grid-area: 4 / 1 / 5 / 2; 
background-color: #090235;}

.book{fill: white};


svg defs {
  filter: url(#glow);
}

.magnifying_glass {
  rx: 20;
  /* ry: 30; */
  fill: transparent;
  stroke: white;
  stroke-width: 1;
}

.magnifying_text {
  fill: white;
  text-anchor: middle; /*Center the text horizontally*/
}




.shelf_view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(25, 23, 41, 0.9);
  display: none;
  z-index: 1000;
  color: white;
  grid-template-columns: 1fr 7fr 1fr;
  grid-template-rows: 3fr 10fr 1fr 2fr;
}


.shelf_view--header {
  grid-area: 1 / 1 / 1 / -1;
  display: flex;
  align-items: center;
  padding-left: 70px;
  padding-right: 70px;
  justify-content: space-between;
  /* background-color: yellow; */
}
.shelf_view--left_scroll{
  grid-area: 2 / 1 / 2 / 1;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 15px;
  /* background-color: blue; */
}
.shelf_view--shelves{
  grid-area: 2 / 2 / 2 / 2;
  /* border:1px solid white; */
  display: flex;
  overflow-x: auto;
  padding-bottom: 10px;
}
.shelf_view--right_scroll{
  grid-area: 2 / 3 / 2 / 3;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 15px;
  /* background-color: blue; */
}

.shelf_view--navigation{
  grid-area: 3 / 1 / 3 / -1;
}

.shelf_view--subtopic-browser{
  grid-area: 4 / 1 / 4 / -1;
  display: flex;
  align-items: center;
  white-space: nowrap; /* Prevents wrapping to the next line */
  /* background-color: red;  */
}

.shelf_view--header_back {
  display: flex;
  align-items: center; /* Center items vertically */
}

.chevron_left{
  width: 15px;
}

.back_text{
  padding-left: 15px;
  font-size: 20px;
}

.shelf_view--header > div {
  flex: 1;
  text-align: center;
}

.shelf_view--left_scroll > img, .shelf_view--right_scroll > img{
  width: 50px;
}

.shelf_view--topic_holder{
  font-weight: 900;
  font-size: xx-large;
  padding-left: 70px;
  padding-right: 10px;
}

.shelf_view--subtopic_holder {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  width: 100%;
  margin-left: 5px;
  margin-right: 30px;
  padding-bottom: 5px;
}

.shelf_view--shelves::-webkit-scrollbar{
  display: none;
}

.shelf_view--subtopic_holder > div{
  align-items: center;
  padding: 10px 12px 10px 12px;
  border:1px solid white;
  border-radius: 10px;
}


/* https://ishadeed.com/article/custom-scrollbars-css/   */
.shelf_view--subtopic_holder::-webkit-scrollbar {
  height: 5px;
}
.shelf_view--subtopic_holder::-webkit-scrollbar-thumb{
  background-color: #A6AEF4;
  border-radius: 100px;
}
.shelf_view--subtopic_holder::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.bookcase {
  min-width: calc(33.3333% - 30px);
  /* border: 1px solid #ccc; */
  display: flex;
  flex-direction: column; /* Stack child divs vertically */
  justify-content: space-between; /* Distribute space evenly between children */
  row-gap: 10px;
  padding-right: 15px;
  padding-left: 15px;
}

.shelf {
  /* border: 10px solid red;  */
  flex: 1;
  width: 100%; /* Adjust width as needed */
  display: flex;
  column-gap: 8px;
}

.shelf--book {
  min-width: calc(20% - 6px);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}



.book_details--visible {
    min-width: calc(33.3333% - 30px);
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
    background-color: #1E1C27;
    opacity: 60%;
  }
  
  .book_details--invisible {
    /* border: 1px solid #ccc; */
    display: none;
  }
  