/* font:Avenir Next */

@charset "utf-8";

:root {
    --accent_color: #00A6D6;
  }


html, body{
    margin: 0;
    height: 100%;
    font-family: "Roboto", sans-serif;
    background-color: #f2f2f2e6;
    overflow: hidden;
    overflow: hidden;
    font-size: 15px;
}

.flex{
    display: flex;
}

.xx-large {
  font-size: xx-large;
}

.parent_container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.25fr 0.5fr 0.1fr 0.3fr;
  }

.header_container { grid-area: 1 / 1 / 2 / 2; 
    background-color: #090235;}
  
.wall_container { grid-area: 2 / 1 / 3 / 2; 
                  background-color: #090235;}

.instructions_container { grid-area: 3 / 1 / 4 / 2; 
                    background-color: #090235;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    color: white;
                    font-size: 1.2 em; /* Adjust the size as needed */
                    font-family: 'Avenir Next', sans-serif; /* Change the font as needed */
                    text-align: center;}

.instructions_container span {
  opacity: 0.6 /* Set the opacity of the text */
}

.topics_container { grid-area: 4 / 1 / 5 / 2; 
background-color: #090235;}

.book{fill: white};


svg defs {
  filter: url(#glow);
}

.magnifying_glass {
  rx: 20;
  /* ry: 30; */
  fill: transparent;
  stroke: white;
  stroke-width: 1;
}

.magnifying_text {
  fill: white;
  text-anchor: middle; /*Center the text horizontally*/
}




.shelf_view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 1000;
  color: white;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 3fr 10fr 1fr 2fr;
}


.shelf_view--header {
  grid-area: 1 / 1 / 1 / -1;
  display: flex;
  align-items: center;
  padding-left: 70px;
  padding-right: 70px;
  justify-content: space-between;
  /* background-color: yellow; */
}
.shelf_view--left_scroll{
  grid-area: 2 / 1 / 2 / 1;
  /* background-color: blue; */
}
.shelf_view--shelves{
  grid-area: 2 / 2 / 2 / 2;
  background-color: orange;
  display: flex;
}
.shelf_view--right_scroll{
  grid-area: 2 / 3 / 2 / 3;
  /* background-color: blue; */
}
.shelf_view--nav_position{
  grid-area: 3 / 1 / 3 / -1;
  /* background-color: purple; */
}
.shelf_view--subtopic-browser{
  grid-area: 4 / 1 / 4 / -1;
  display: flex;
  align-items: center;
  /* background-color: red;  */
}

.shelf{
  flex: 1;
}

.shelf_view--header_back {
  display: flex;
  align-items: center; /* Center items vertically */
}

.chevron_left{
  width: 15px;
}

.back_text{
  padding-left: 15px;
  font-size: 20px;
}

.shelf_view--header > div {
  flex: 1;
  text-align: center;
}

.shelf_view--left_scroll, .shelf_view--right_scroll{
  display: flex;
  align-items: center;
  justify-content: center;
}


.shelf_view--left_scroll > object, .shelf_view--right_scroll > object{
  width: 50px;
}

.shelf_view--topic_holder{
  font-weight: 900;
  font-size: xx-large;
  padding-left: 70px;
  padding-right: 10px;
}
