.facts_container {grid-area: 3 / 1 / 7 / 2; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.did-u-know{
    width: max-content;
    display: flex;
    font-size: 2.5em;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    min-height: 1.5em;
    max-height: 1.5em;
    margin-bottom: 10px;
    color: #00A6D6;
}

.fact{
    color: white;
    font-family: "Roboto", sans-serif;
    min-height: 1.5em;
    max-height: 1.5em;
    font-size: 3em;
    display: flex;
}