.heritage_view {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(25, 23, 41, 0.9);
    display: none;
    z-index: 1000;
    color: white;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 3fr 15fr 2fr;
  }
  
  .heritage_view--content{
    grid-area: 2 / 2 / 2 / 2;
    display: flex;
    overflow-x: auto;
    padding-bottom: 10px;
    column-gap: 3%;
    justify-content: center;
  }

  .heritageInfoCard{
    min-width: 67%;
    height: 100%;
    display: none;
    flex-direction: column;
  }

  .heritageInfoCard--header {
    flex : 2; 
    align-items: center; /* This centers children vertically */
    display: flex;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
    font-weight: 500;
    font-size: medium;
  }

  .heritageInfoCard--main {
    flex : 30; 
    display: flex;
    flex-direction: column;
    row-gap: 1%;
    padding: 1% 0;
  }

  .heritageInfoCard--footer {
    flex : 2; 
    align-items: center; /* This centers children vertically */
    justify-content: flex-end;
    display: flex;
    padding-right: 1%;
  }

  .heritageInfoCard--objRow {
    flex : 1; 
    background-color: rgba(30, 28, 39, 0.6);
    display: flex;
    flex-direction: row;
    column-gap: 1%;
  }

  .heritageInfoCard--objRow-img{
    flex: 2;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1%;
  }

  .heritageInfoCard--objRow-metadata{
    flex: 7;
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .heritageInfoCard--objRow-QR{
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.7em;
  }

  .heritageObjectShelf{
    min-width: 27%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 2%;
  }

  .heritageThumbnail{
    flex: 1;
    display: flex;
  }

  .heritageImage{
    width: 95%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .heritageColorBox-container{
    display: flex;
    min-width: 15%;
    max-width: 15%;
    justify-content: center;
    align-items: center;
  }

  .heritageColorBox-text{
    transform: rotate(-90deg); /*Rotate text*/
    display: block;
    text-wrap: nowrap;
    font-weight: 700;
    font-size: medium;
    letter-spacing: 3px;
  }


  .heritage_view--content::-webkit-scrollbar{
    display: none;
  }
    
  .heritage_view--name_holder{
    grid-area: 3 / 1 / 3 / -1;
    display: flex;
    align-items: center;
    white-space: nowrap; 
  }

  .heritage_view--left_scroll{
    grid-area: 2 / 1 / 2 / 1;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 15px;
  }

  .heritage_view--right_scroll{
    grid-area: 2 / 3 / 2 / 3;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 15px;
  }

  .heritage_view--left_scroll > img, .heritage_view--right_scroll > img{
    width: 50px;
  }

