.parent_container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 9fr 1fr 5fr 3fr;
  background-color: #090235  
}

.header_container { grid-area: 1 / 1 / 2 / 2; 
    background-color: #090235;}
  
.wall_container { grid-area: 2 / 1 / 3 / 2; 
                  background-color: #090235;}

.instructions_container { grid-area: 3 / 1 / 4 / 2; 
                    background-color: #090235;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    color: white;
                    font-size: 1.2 em; /* Adjust the size as needed */
                    font-weight: 100;
                    text-align: center;}

.instructions_container span {
  opacity: 1 /* Set the opacity of the text */
}

.topics_container { grid-area: 4 / 1 / 5 / 2; 
  width: 75%;
  justify-self: center; /* Centers the element horizontally */
}

.exhibitions_container {grid-area: 5 / 1 / 6 / 2; 
  background-color: #090235;
  display: flex;
  justify-content: center;
  column-gap: 20px;
  align-items: flex-start;
}

.book{
  fill: white;
}


svg defs {
  filter: url(#glow);
}

.magnifying_glass {
  rx: 20;
  /* ry: 30; */
  fill: transparent;
  stroke: white;
  stroke-width: 1;
}

.magnifying_text {
  fill: white;
  text-anchor: middle; /*Center the text horizontally*/
}


.exhibitionsButton{
  height: 20px;
  align-content: center;
  color: white;
  padding: 8px 12px 8px 12px;
  background-color: #2c2c6b;
  border-radius: 12px;
  font-size: 0.85em;
  font-weight: 500;
}



.topicButtonContainer {
  display: inline-flex;
  align-items: stretch; /* Stretch children to match the height of the tallest child */
  padding: 4px 5px 4px 5px;
}

.topicButtonName {
  height: 20px;
  background-color: #2c2c6b;
  color: white;
  padding: 8px 12px;
  border-radius: 12px 0px 0px 12px;
  font-size: 0.85em;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.topicButtonBar {
  background-color: #2c2c6b;
  width: 8px;
  margin-left: 2px;
}

